# https://docker-minecraft-server.readthedocs.io
# https://docs.ntfy.sh/config/#config-options
name: minecraft-eventnotifications
services:

  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    hostname: ntfy
    restart: unless-stopped
    command:
      - serve
    environment:
      TZ: Europe/Copenhagen
    ports:
      - "8880:80"

  ntfy-client:
    image: binwiederhier/ntfy
    container_name: ntfy-client
    hostname: ntfy-client
    restart: unless-stopped
    command:
      - sub
      - --config=/etc/ntfy/client.yml
      - --from-config
    environment:
      TZ: Europe/Copenhagen
    volumes:
      - ./run/ntfy:/etc/ntfy
    configs:
      - source: ntfy-client-config
        target: /etc/ntfy/client.yml
    depends_on:
      ntfy:
        condition: service_started

  mc-fabric:
    image: itzg/minecraft-server:latest
    container_name: minecraft-eventnotifications-fabric
    restart: unless-stopped
    environment:
      TZ: Europe/Copenhagen
      EULA: "TRUE"
      VERSION: 1.21.11
      MOTD: Fabric Server
      TYPE: FABRIC
      MODRINTH_PROJECTS: |
        fabric-api
      REMOVE_OLD_MODS: "TRUE"
      REMOVE_OLD_MODS_INCLUDE: eventnotifications*
      SYNC_SKIP_NEWER_IN_DESTINATION: false
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "25565:25565/udp"
    volumes:
      - ./fabric/build/libs:/mods:ro
      - ./run/config:/config:ro
      - ./run/fabric:/data
    depends_on:
      ntfy:
        condition: service_started
      ntfy-client:
        condition: service_started
    profiles:
      - fabric

  mc-paper:
    image: itzg/minecraft-server:latest
    container_name: minecraft-eventnotifications-paper
    restart: unless-stopped
    environment:
      TZ: Europe/Copenhagen
      EULA: "TRUE"
      VERSION: 1.21.11
      MOTD: Paper Server
      TYPE: PAPER
      REMOVE_OLD_MODS: "TRUE"
      REMOVE_OLD_MODS_INCLUDE: eventnotifications*
      SYNC_SKIP_NEWER_IN_DESTINATION: false
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "25565:25565/udp"
    volumes:
      - ./paper/build/libs:/plugins:ro
      - ./run/config/eventnotifications:/data/plugins/EventNotifications:ro
      - ./run/paper:/data
    depends_on:
      ntfy:
        condition: service_started
      ntfy-client:
        condition: service_started
    profiles:
      - paper

  mc-neoforge:
    image: itzg/minecraft-server:latest
    container_name: minecraft-eventnotifications-neoforge
    restart: unless-stopped
    environment:
      TZ: Europe/Copenhagen
      EULA: "TRUE"
      VERSION: 1.21.11
      MOTD: NeoForge Server
      TYPE: NEOFORGE
      NEOFORGE_VERSION: "beta"
      REMOVE_OLD_MODS: "TRUE"
      REMOVE_OLD_MODS_INCLUDE: eventnotifications*
      SYNC_SKIP_NEWER_IN_DESTINATION: false
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "25565:25565/udp"
    volumes:
      - ./neoforge/build/libs:/mods:ro
      - ./run/config:/config:ro
      - ./run/neoforge:/data
    depends_on:
      ntfy:
        condition: service_started
      ntfy-client:
        condition: service_started
    profiles:
      - neoforge

networks:
  default:
    name: minecraft-eventnotifications

configs:
  ntfy-client-config:
    content: |
      default-host: http://ntfy:80
      default-command: 'echo "$$raw" && echo "$$raw" >> /etc/ntfy/messages.txt'
      subscribe:
        - topic: server-minecraft
