# https://docs.ntfy.sh/config/#config-options
name: ntfy
services:

  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    hostname: ntfy
    restart: unless-stopped
    command:
      - serve
    environment:
      TZ: Europe/Copenhagen
    ports:
      - "8880:80"

  ntfy-client:
    image: binwiederhier/ntfy
    container_name: ntfy-client
    hostname: ntfy-client
    restart: unless-stopped
    command:
      - sub
      - --config=/etc/ntfy/client.yml
      - --from-config
    environment:
      TZ: Europe/Copenhagen
    volumes:
      - ./run/ntfy:/etc/ntfy
    configs:
      - source: ntfy-client-config
        target: /etc/ntfy/client.yml
    depends_on:
      ntfy:
        condition: service_started

networks:
  default:
    name: ntfy

configs:
  ntfy-client-config:
    content: |
      default-host: http://ntfy:80
      default-command: 'echo "$$raw" && echo "$$raw" >> /etc/ntfy/messages.txt'
      subscribe:
        - topic: server-minecraft
